.Main-conteiner {
  max-width: 100rem;
  height: 100vh;
  background-color: white;
  margin: auto;
}

.main1-photo,
.main2-photo,
.main3-photo {
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main1-photo {
  background-image: url("../../Assets/img/HP_Spat_devices_2.png");
  width: 100%;
  height: 25%;
}
.main2-photo {
  top: 3%;
  background-image: url("../../Assets/img/cover_audio_wheel.png");
  width: 90%;
  height: 25%;
  float: right;
}
.main3-photo {
  top: 25%;
  background-image: url("../../Assets/img/arrangement_approaches_DSC1168.png");
  height: 25%;
  width: 90%;
}

.image {
  width: 100%;
}
a {
  text-decoration: none;
}
.main1-photo-text-content {
  position: absolute;
  color: #ff8389;
  font-weight: 900;
  margin: 1.5rem 1rem 2rem 1.5rem;
}
.main2-photo-text-content {
  font-weight: 900;
  position: absolute;

  color: #b1c5ff;
  margin: 1rem 1rem 1rem 1.5rem;
}
.main3-photo-text-content {
  position: absolute;

  color: #00d2be;
  font-weight: 900;
  margin: 1.5rem 1rem 1rem 1.5rem;
}
.main1-photo-text {
  font-size: 1.1rem;
  line-height: 1.8;
}
.main2-photo-text {
  font-size: 1rem;
  line-height: 1.5;
}
.main3-photo-text {
  font-size: 1rem;
  line-height: 1.8;
}
.main1-photo-link,
.main2-photo-link,
.main3-photo-link {
  font-size: 0.8rem;
  line-height: 1.8;
  text-decoration: underline;
}
.main2-photo-link {
  font-size: 0.7rem;
  line-height: 1.5;
}
.main3-photo-link {
  font-size: 0.8rem;
  line-height: 1.8;
}
.main1-photo-link::after,
.main2-photo-link::after,
.main3-photo-link::after {
  content: ">";
  display: inline-block;
  padding-left: 0.5em;
}
