.more-align {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em; */
  line-height: 1.5;
  height: 8rem;
  padding: 7vw;
  background-color: #eeeeee;
  max-width: 100rem;
  margin: auto;
}
/* strong {
  margin-right: 0.5em;

  font-weight: 900;
  font-size: 0.9rem;
} */

.more-nav,
strong {
  display: inline-block;
  margin-right: 0.5em;
  color: blue;
  font-weight: 900;
  font-size: 0.9rem;
}
strong {
  color: black;
}
