.btn-play {
  color: white;
}
.btn-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  height: 30%;
  width: 21%;
  background-color: blue;
  border-radius: 20rem;
}
.pointer,
.btn-play {
  cursor: pointer;
}
