.header-conteiner {
  display: flex;
  background-color: white;
  margin: auto;
  padding: 5px 0px;
  max-width: 100rem;
  height: 5rem;
  margin: auto;
  z-index: -10;
  position: relative;
}
.header-elements {
  display: flex;
  align-items: center;
}
.logo {
  margin: 0 0.5rem 0rem 1.25rem;
  width: 4.35em;
  height: 2.35em;
}
.background {
  background-color: red;
  height: 20px;
}
.menu {
  text-decoration: none;
  color: black;
  font-size: 1.25em;
  font-weight: bold;
}
.menu-list {
  margin-left: 1rem;
  gap: 1.5rem;
  display: none;
}
.arrow {
  position: relative;
  top: 0.7rem;
  font-size: 2rem;
}
.arrow-up {
  position: relative;
  top: 0.5rem;
  left: 0.2rem;
  font-size: 1.5rem;
}

.mobile-menu-list {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-left: 1.25rem;
}
.mobile-submenu {
  position: fixed;
  top: 2.9rem;
  left: 0;
  background-color: blue;
  width: 100%;
  height: 0;
  z-index: 10;
}
.active {
  height: 100%;
  transition: all 0.3s ease;
}
.inactive {
  transform: translateY(-5rem);
  transition: all 0.3s ease;
}

.hide {
  display: none;
}
.plus,
.minus {
  margin-left: 0.7rem;
  font-size: 0.8em;
  font-weight: 900;
  cursor: pointer;
}
.auth {
  position: absolute;
  right: 2rem;
  display: none;
}
.try {
  margin-right: 1.5em;
  font-size: 1.25rem;
  color: blue;
  font-weight: bolder;
  text-decoration: none;
}
.login {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.active {
  background-color: blue;
  color: white;
}

@media (max-width: 1280px) {
  .try {
    font-size: 1rem;
  }
  .menu {
    font-size: 1rem;
  }
}
