.moresub-conteiner {
  display: flex;
  justify-content: center;
}
.more {
  position: absolute;
  top: 4.9rem;
  max-width: 100rem;
  padding: 0rem 1.5rem 3rem 1.5rem;
  background-color: white;
  z-index: 10;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  padding-top: 2rem;
}
.sub-menus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  padding: 0.8rem 0rem;
}
.sub-menu {
  font-size: 1rem;
  line-height: 1.8;
  text-decoration: none;
  color: black;
}
.weigth {
  font-weight: bold;
}
.more-from-conteiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  padding-top: 0.8rem;
}
.hide {
  display: none;
}
