.footer-conteiner {
  height: 100%;
  max-width: 100rem;
  margin: auto;
  background-color: white;
  padding: 1.5rem 1.25rem;
}
.footer-ableton {
  width: 8rem;
  margin-bottom: 1rem;
}
.footer-header {
  font-size: 0.9rem;
  font-weight: 900;
  padding: 0.5em 0em;
}
.footer-text {
  font-size: 0.9rem;
  line-height: 1.8;
}
input {
  position: relative;
  padding: 0.8rem 0.8rem;
  width: 100%;
  border: none;
  background-color: #eeeeee;
  font-size: 0.9rem;
  color: #747373;
  margin: 1rem 0rem;
}
.btn {
  position: absolute;
  padding: 0.81rem 1.5rem;
  right: 1rem;
  background-color: blue;
  color: white;
  font-weight: 900;
  border: none;
  margin: 1rem 0rem;
  cursor: pointer;
}
.footer-links,
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 2em 0em;
}
.footer-contacts {
  margin: 2em 0em;
}
.footer-link,
.footer-contact {
  color: black;
  font-size: 0.9rem;
  line-height: 1.5;
}
.footer-link::after {
  content: ">";
  margin-left: 0.5em;
}
.footer-link-logos-align {
  margin-bottom: 0.25em;
  display: flex;
  gap: 1em;
}
.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  padding: 0.3em 0.3em;
}
.facebook {
  background-color: #3477f2;
}
.twitter {
  background-color: #1da1f2;
}
.youtube {
  background-color: #ff001d;
}
.instagram {
  background-color: #f77737;
}
.footer-lang-loc-align {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}
select {
  padding: 0.8em 0.8em;
  font-weight: 900;
  font-size: 0.8rem;
  background-color: #eeeeee;
  border: none;
  cursor: pointer;
}
.lang {
  width: 60%;
}
.country {
  width: 90%;
}
.footer-logo {
  width: 3rem;
}
.footer-footer {
  display: flex;
  align-items: center;
  gap: 0.9em;
  margin: 2em 0rem;
}
span {
  font-size: 0.9rem;
  font-weight: 900;
}
