@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  /* border: 2px solid red; */
  /* background-color: brown; */
}
body {
  background-color: #f3f3f3;
}
@media (min-width: 384px) {
  .main1-photo {
    height: 30%;
  }
  .main1-photo-text {
    font-size: 1.5rem;
  }
  .main1-photo-link {
    font-size: 0.8rem;
  }

  .main2-photo {
    top: 4%;
    height: 25%;
  }
  .main2-photo-text-content {
    margin: 1rem 1rem 2rem 2rem;
  }
  .main2-photo-text {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .main2-photo-link {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .main3-photo {
    top: 22%;
    height: 25%;
  }
  .main3-photo-text-content {
    margin: 1.5rem 1rem 1rem 2rem;
  }
  .main3-photo-text {
    font-size: 1.5rem;
    line-height: 1.8;
  }
  .main3-photo-link {
    font-size: 0.8rem;
    line-height: 1.8;
  }
  .latest-conteiner {
    top: 30%;
  }
}
@media (min-width: 576px) {
  .main1-photo {
    height: 35%;
  }
  .main1-photo-text-content {
    margin: 2rem 3rem;
  }
  .main1-photo-text {
    font-size: 2rem;
  }
  .main1-photo-link {
    font-size: 1rem;
  }

  .main2-photo {
    top: 4%;
    height: 35%;
  }
  .main2-photo-text-content {
    margin: 1.5rem 1rem 2rem 2rem;
  }
  .main2-photo-text {
    font-size: 2rem;
    line-height: 1.5;
  }
  .main2-photo-link {
    font-size: 1rem;
    line-height: 1.5;
  }

  .main3-photo {
    top: 28%;
    height: 35%;
  }
  .main3-photo-text-content {
    margin: 1rem 2rem 1rem 3rem;
  }
  .main3-photo-text {
    font-size: 2rem;
    line-height: 1.8;
  }
  .main3-photo-link {
    font-size: 1rem;
    line-height: 1.8;
  }
  .latest-conteiner {
    top: 30%;
  }
  .latest-content-conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .latest-title {
    font-size: 1.875rem;
    line-height: 1.4;
  }
  .latest-img {
    height: 67%;
  }
}

@media (min-width: 768px) {
  .main1-photo {
    width: 50%;
    height: 30%;
  }
  .main1-photo-text-content {
    margin: 3rem 2.5rem;
  }
  .main1-photo-text {
    font-size: 1.5rem;
  }
  .main1-photo-link {
    font-size: 1rem;
  }
  .main2-photo {
    width: 35%;
    height: 20%;
    top: -20%;
  }
  .main2-photo-text-content {
    margin: 1.5rem 1rem 2rem 2rem;
  }
  .main2-photo-text {
    font-size: 1rem;
    line-height: 1.5;
  }
  .main2-photo-link {
    font-size: 0.7rem;
    line-height: 1.5;
  }
  .main3-photo {
    top: -5%;
    margin: auto;
    width: 40%;
    height: 20%;
  }
  .main3-photo-text-content {
    margin: 1.5rem 1rem 1rem 2rem;
  }
  .main3-photo-text {
    font-size: 1.2rem;
    line-height: 1.8;
  }
  .main3-photo-link {
    font-size: 0.8rem;
    line-height: 1.8;
  }
  .latest-link {
    display: flex;
  }
  .link {
    display: none;
  }
  .latest-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .mobile-menu-list {
    display: none;
  }
  .menu-list,
  .auth {
    display: flex;
    right: -4rem;
  }
  .sub-menus {
    gap: 1.5rem;
  }
  .main1-photo {
    height: 40%;
  }
  .main1-photo-text-content {
    margin: 3rem 3rem;
  }
  .main1-photo-text {
    font-size: 2rem;
  }
  .main1-photo-link {
    font-size: 1.2rem;
  }

  .main2-photo {
    top: -25%;
    height: 25%;
  }
  .main2-photo-text-content {
    margin: 1.5rem 1rem 2rem 2rem;
  }
  .main2-photo-text {
    font-size: 1.25rem;
    line-height: 1.8;
  }
  .main2-photo-link {
    font-size: 1.2rem;
  }

  .main3-photo {
    height: 35%;
  }
  .main3-photo-text-content {
    margin: 2rem 1rem 1rem 2rem;
  }
  .main3-photo-text {
    font-size: 1.9rem;
  }
  .main3-photo-link {
    font-size: 1.2rem;
  }
  .latest-conteiner {
    position: absolute;
    top: 85%;
  }
  .latest-content-conteiner {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
  .latest-link {
    display: none;
  }
  .latest-nav {
    color: blue;
    gap: 1rem;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .auth {
    right: -14rem;
  }
  .main1-photo {
    width: 60%;
    height: 50%;
  }
  .main1-photo-text-content {
    margin: 4rem 4rem;
  }
  .main1-photo-text {
    font-size: 2.5rem;
  }
  .main1-photo-link {
    font-size: 1.4rem;
  }

  .main2-photo {
    top: -30%;
    height: 30%;
  }
  .main2-photo-text-content {
    margin: 2rem 1.5rem 2rem 3rem;
  }
  .main2-photo-text {
    font-size: 1.2rem;
  }
  .main2-photo-link {
    font-size: 1.2rem;
  }

  .main3-photo {
    width: 40%;
  }
  .main3-photo-text-content {
    margin: 2rem 1rem 1rem 3rem;
  }
  .main3-photo-text {
    font-size: 2.2rem;
  }
  .main3-photo-link {
    font-size: 1.4rem;
  }
  .latest-conteiner {
    position: absolute;
    top: 95%;
  }
}
@media (min-width: 1400px) {
  .auth {
    right: -20rem;
  }
  .sub-menus {
    gap: 3rem;
  }
  .main1-photo-text-content {
    margin: 4rem 6rem;
  }
  .main1-photo-text {
    font-size: 3rem;
  }
  .main1-photo-link {
    font-size: 1.8rem;
  }

  .main2-photo-text-content {
    margin: 2rem 2rem 2rem 3rem;
  }
  .main2-photo-text {
    font-size: 1.6rem;
  }
  .main2-photo-link {
    font-size: 1.4rem;
  }

  .main3-photo {
    height: 40%;
  }
  .main3-photo-text-content {
    margin: 2rem 1rem 1rem 3rem;
  }
  .main3-photo-text {
    font-size: 2.5rem;
  }
  .main3-photo-link {
    font-size: 1.6rem;
  }
}
@media (min-width: 1520px) {
  .auth {
    right: -28rem;
  }
  .main2-photo-text-content {
    margin: 2rem 1rem 2rem 3rem;
  }
  .main2-photo-text {
    font-size: 1.5rem;
    line-height: 1.8;
  }
  .main2-photo-link {
    font-size: 1.1rem;
    line-height: 1.8;
  }
  .main3-photo-text-content {
    margin: 2.5rem 1rem 1rem 3.5rem;
  }
  .main3-photo-text {
    font-size: 2.6rem;
  }
  .main3-photo-link {
    font-size: 1.7rem;
  }
}
@media (min-width: 1600px) {
  .auth {
    right: -32rem;
  }

  .main2-photo-text-content {
    margin: 2rem 1rem 2rem 3rem;
  }
  .main2-photo-text {
    font-size: 2rem;
    line-height: 1.8;
  }
  .main2-photo-link {
    font-size: 1.6rem;
    line-height: 1.8;
  }

  .main3-photo-text-content {
    margin: 3rem 1rem 1rem 3.5rem;
  }
  .main3-photo-text {
    font-size: 3rem;
  }
  .main3-photo-link {
    font-size: 1.8rem;
  }
}
