@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  /* border: 2px solid red; */
}
body {
  background-color: #f3f3f3;
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .mobile-menu-list {
    display: none;
  }
  /* .moresub-conteiner {
    display: block;
  } */
  .menu-list,
  .auth {
    display: flex;
    right: -4rem;
  }
  .sub-menus {
    gap: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .auth {
    right: -14rem;
  }
}
@media (min-width: 1400px) {
  .auth {
    right: -20rem;
  }
  .sub-menus {
    gap: 3rem;
  }
}
@media (min-width: 1520px) {
  .auth {
    right: -28rem;
  }
}
@media (min-width: 1600px) {
  .auth {
    right: -32rem;
  }
}
